# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/

# Mac system files
.DS_Store

# Firebase private key (never commit this)
FoodItemMaster/serviceAccountKey.json

# Optional: OS or editor specific files
*.swp
.idea/
.vscode/

# Environment files
.env
.env.local
